<%- include("partials/header") %>
<section class="header-pagina-interna">
        <div class="container">
            <h2>Serviços</h2>
        </div>
    </section>
    <section class="servicos scroll-mt py-5" id="servicos">
        <div class="container py-5">
            <div class="row">
                <% servicos.forEach(servico => { %>
                <div class="fade-left col-lg-4 mb-5 mb-lg-0" data-delay="0.1s">
                    <div class="capa shadow"
                        style="background-image: url('/assets/img/<%= servico.imagem %>');">
                    </div>
                    <h3 class="fs-3 mt-3 fw-normal">
                        <%= servico.nome %>
                    </h3>
                    <p class="mb-1 mt-1">
                        <%= servico.descricao %>
                    </p>
                    <a href="/servicos/<%= servico.slug %>"
                        class="text-decoration-none d-flex align-items-center column-gap-3 mt-3">
                        <span class="btn btn-success btn-sm">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <span class="text-dark">
                            Saiba mais
                        </span>
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
    </section>
    <%- include("partials/footer") %>