<%- include("partials/header") %>
    <section class="header-pagina-interna">
        <div class="container">
            <h2><%= servico.nome %></h2>
        </div>
    </section>
    <section class="scroll-mt py-5" id="servicos">
        <div class="container d-lg-flex column-gap-3 py-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="capa shadow"
                        style="background-image: url('/assets/img/<%= servico.imagem %>');"></div>
                </div>
                <div class="col-lg-6 ps-lg-5 mt-3 mt-lg-0">
                    <p class="fs-5 lh-3 text-dark">
                        <%= servico.descricao %>
                    </p>
                    <div class="d-flex mt-3 align-items-center column-gap-2">
                        <div class="text-center" style="width: 32px;">
                            <i class="fa-regular fa-clock fs-3 text-danger"></i>
                        </div>
                        <div class="lh-25">
                            Tempo de Execução
                            <br>
                            <%= servico.tempoExecucao %>
                        </div>
                    </div>
                    <div class="d-flex mt-3 align-items-center column-gap-2">
                        <div class="text-center" style="width: 32px;">
                            <i class="fa-solid fa-calendar-days fs-3 text-danger"></i>
                        </div>
                        <div class="lh-25">
                            Validade
                            <br>
                            <%= servico.validade %>
                        </div>
                    </div>
                    <div class="d-flex mt-3 align-items-center column-gap-2">
                        <div class="text-center" style="width: 32px;">
                            <i class="fa-solid fa-dollar-sign fs-3 text-danger"></i>
                        </div>
                        <div class="lh-25">
                            Valor
                            <br>
                            <%= servico.preco %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer") %>